body {
    background-color: #E6E6E6;
}
.navbar {
    align-items: center;
    display: flex;
    height: 12%;
}

.logo{
    width: 90px;
    cursor: pointer;
}

.menu_icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.hero {
    height: 300px;
}

.one {
    background-color: teal;
    border: 0;
    color: white;
    padding: 30px 30px;
    font-size: 20px;
    cursor: pointer;
}

.one:hover {
    background-color: #006080;
}

.logo-test {
    height: 65px;
    width: 197px;
}
