body {
    background-color: teal;
}

header {
    display: flex;
    align-items: center;
}
  
nav {
    margin-left: 25px;
}
  
nav ul {
    padding: 0px;
}
  
nav li {
    display: inline-block;
}  

header, 
footer {
    background-color: black;
    color: #fff;
    margin: 0%;
}

.icons {
    display: inline;
}



.one {
    background-color: teal;
    border: 0;
    color: white;
    padding: 30px 30px;
    font-size: 20px;
    cursor: pointer;
}

.one:hover {
    background-color: #006080;
}

